<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">

    <test name="Authorization">
        <packages>
            <package name="pagepack"/>
        </packages>
        <classes>
            <class name="Authorization"/>
        </classes>
    </test>

    <test name="ChangeCity">
        <packages>
            <package name="pagepack"/>
        </packages>
        <classes>
            <class name="ChangeCity"/>
        </classes>
    </test>

    <test name="FreeDelivery">
        <packages>
            <package name="pagepack"/>
        </packages>
        <classes>
            <class name="FreeDelivery"/>
        </classes>
    </test>

</suite>
